<div style="display:none" id="user_hints">
  <ul class="users">
  <% Loosebills::UserAdmin.users.each do |user| %>
    <li>
      <span class="name"><%= user[:name] %></span> 
       <span class="pin">pin <strong><%= user[:pin] %></strong></span>
       <span class="starting_balance"> starting balance <strong><%= number_to_currency user[:balance], :precision => 0 %></strong></span>
    </li>
  <% end %>
  </ul>
</div>