<h2>Please take your cash</h2>

<p><%= link_to "Taking cash", root_path, :class=>"medium blue awesome button" %></p>

<ul class="cash">
<% @withdrawal.bills.each do |denomination, units| %>
  <% units.times do %>
    <%=content_tag :li, denomination, :class => "bill bill_#{denomination}"%>
  <% end %>
<% end %>
</ul>

<br style="clear: both"/>