<h1>Please take your cash</h1>

<ul>
<% @withdrawal.bills.each do |denomination, units| %>
  <% units.times do %>
    <%=content_tag :li, denomination, :class => "bill_#{denomination}"%>
  <% end %>
<% end %>
</ul>

<%= link_to "Taking cash", root_path %>