<div id="account">
  <span class="greeting">
    Welcome <strong><%= current_user.name %></strong>
  </span>
  <span class="balance">
    Balance: <strong><%= number_to_currency current_user.account.balance, :precision => 0 %></strong>
  </span>
  <br style="clear: both"/>
</div>

<hr/>

<div id="withdraw">
  <h2>Withdraw Cash</h2>

  <ul class="withdrawal_amounts">
    <% [20,40,80,100,120].each do |amount| %>
    <% formatted_amount = number_to_currency amount, :precision => 0 %>
    <li>
      <%= link_to_if sufficient_funds?(amount), formatted_amount, withdrawals_path(:amount => amount), :method => :post do %>
      <%= content_tag :span, formatted_amount, :class => "insufficient" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <br style="clear: both"/>
</div>